.homepage-content {
  display: flex;
  flex-direction: row;
}
.statistical-content {
  margin-left: auto;
  margin-right: auto;
}

.statistical-content > table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
}

.statistical-content > table > thead > tr > th,
.statistical-content > table > tbody > tr > td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

.statistical-content > table > thead > tr > th {
  background-color: #f2f2f2;
}

.statistical-content > table > tbody > tr:nth-child(even) {
  background-color: #f2f2f2;
}

.statistical-content > table > tbody > tr:hover {
  background-color: #e0e0e0;
}
