.homepage-content {
  display: flex;
  flex-direction: row;
}
.statistical-content {
  width: 100%;
  background-color: #e3edf9;
}

.table-wrapper {
  width: 90%;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: none;
  border-radius: 15px;
}

.table-wrapper > table {
  border-collapse: collapse;
  width: 95%;
  /* border: 1px solid #ddd; */
  border: none;
  margin-left: auto;
  margin-right: auto;
}

.table-wrapper > table > thead > tr > th,
.table-wrapper > table > tbody > tr > td {
  /* border: 1px solid #ddd; */
  border: none;
  padding: 12px 25px;
  text-align: center;
}

.table-wrapper > table > thead > tr > th {
  background-color: white;
}

.table-wrapper > table > tbody > tr:nth-child(odd) {
  background-color: #e3edf9;
}

.table-wrapper > table > tbody > tr:hover {
  background-color: #e0e0e0;
}

.header {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.filter {
  display: inline-flex;
  align-items: center;
}

.header {
  margin-left: auto;
  margin-right: auto;
}
